body {
  background-color: #0d2446;
  color: #fff;
  font-family: "Roboto", sans-serif;
  text-align: center;
}

h1 {
  font-size: 5em;
  margin-bottom: 0;
}

p {
  font-size: 1.5em;
}

p#result {
  font-size: 4em;
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.js .inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputfile + label {
  max-width: 80%;
  font-size: 1.25rem;
  /* 20px */
  font-weight: 700;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  padding: 0.625rem 1.25rem;
  /* 10px 20px */
}

.no-js .inputfile + label {
  display: none;
}

.inputfile:focus + label,
.inputfile.has-focus + label {
  /* outline: 1px dotted #000; */
  /* outline: -webkit-focus-ring-color auto 5px; */
}

.inputfile + label * {
  /* pointer-events: none; */
  /* in case of FastClick lib use */
}

.inputfile + label svg {
  width: 1em;
  height: 1em;
  vertical-align: middle;
  fill: currentColor;
  margin-top: -0.25em;
  /* 4px */
  margin-right: 0.25em;
  /* 4px */
}

/* style 4 */

.inputfile-4 + label {
  color: #fff;
}

.inputfile-4:hover + label:hover {
  /* color: #722040; */
}

.inputfile-4 + label figure {
  width: 20em;
  height: 20em;
  border-radius: 50%;
  background-color: #fff;
  display: block;
  padding: 100px;
  margin: 0 auto 10px;
}

.inputfile-4 + label:hover figure {
  /* background-color: #722040; */
}

.inputfile-4 + label svg {
  width: 100%;
  height: 100%;
  fill: #f1e5e6;
}

@media screen and (max-width: 50em) {
  .inputfile-6 + label strong {
    display: block;
  }
}

.inputfile + label * {
  pointer-events: none;
}

.content {
  width: 100%;
  /* max-width: 800px; */
  text-align: center;
  margin: 0 auto;
  padding: 0 0 3em 0;
}

.content footer {
  color: #b39295;
  margin-top: 40px;
}

.content footer a:hover,
.content footer a:focus {
  /* color: #4b0f31; */
}

.box {
  /* padding: 1.25rem 1.25rem; */
}

.box + .box {
  /* margin-top: 2.5rem; */
}
